@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Macondo&family=Poppins&display=swap');
:root{
  --yellow:hsl(49.1, 100%, 51.4%);
  --green:hsl(115, 87%, 49%);
  --grey:hsl(240, 2%, 23%);
  --white:hsl(0, 0%, 100%);
  --red:hsl(348, 76%, 42%);
  --black:hsl(0, 0%, 0%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* ANIMATION */
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 2.5s both;
	animation: wobble-hor-bottom 2.5s both;
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* FIN ANIMATION */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(50,50,50);
  background: radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 100%);
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
  overflow: hidden;
}
.disclaimeroff{
  display: none;
}

/* MENU EXPLICATION */
.button{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  gap:10px;
}
.button  button{
  color: white;
  background-color: #444;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button .aide button::before{
  content: "Aide";
}
.button .reload a{
  text-decoration: none;
}
.modal{
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border:1px solid var(--black) ;
  border-radius: 10px;
  z-index: 1000;
  background-color: var(--white);
}
.modal.active{
  transform: translate(-50%,-50%) scale(1);
}
.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid var(--black);
}
.modal-header .modal-title{
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: 1.25rem;

}
.modal-body{
  padding: 10px 15px;
  font-size: 2.2vh; ;
}
.modal-body .intro p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body p#f5{
  font-weight: bold;
  color: red;
}
.modal-body #explication div{
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.modal-body #explication div#vert{
  padding-top: 0;
}
.modal-body #explication div p{
  margin-left: 1rem;
}
.modal-body #explication div img{
  width:92px;
}
.modal-body #explication div p span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;
}
#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out; 
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.5);
  z-index: 50;
  pointer-events: none;
}
#overlay.active{
  pointer-events: all;
  opacity: 1;
}
/* FIN MENU EXPLICATION  */
/*REJOUEZ */
a{
  text-decoration: none;
}
.replay{
  background-color: antiquewhite;
  position: fixed;
  top: 50%;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  padding: 2rem;
  font-size: 1em;
  text-decoration:none;
  color: var(--red);
  font-weight: bolder;
  display: none; 
}
.replay.active{
  display: flex;
}
/*FIN REJOUEZ */
.title{
  padding: 0;
  margin: 0;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items:center;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title p,span{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  margin: 2px;
  margin-top: -15px;
}
.title p span.green{
    font-weight: bold;
    color:var(--green);

}
.title p span.yellow{
  font-weight: bold;
  color:var(--yellow);
}
.title p span.grey{
  font-weight: bold;
  color:var(--grey);
}
.title p span.rayan{
  color:var(--red);
  font-family: 'Dancing Script', cursive;
  font-weight: 4rem;
}
.title p span.by{
  color: #fff;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.key {
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: var(--white);
  fill: var(--white);
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > .svg {
  width: 1.75em;
  height: 1.75em;
  pointer-events: none;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}
.key.wrong-location{
    --hue:49.1;
    --saturation:100%;
    --lightness:51.4%;  

}
.key.correct{
    --hue:115.3;
    --saturation:87.1%;
    --lightness:48.6%;
}
.guess-grid{
    display: grid;
    justify-content: center;
    align-content:center;
    flex-grow: 1;
    grid-template-columns: repeat(5,4em);
    grid-template-rows: repeat(6,4em);
    gap: 0.25em;
    margin-bottom: 0.5em;
}
.tile{
    font-size: 2em;
    color: var(--white);
    border: .05em solid #eeeeee83;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    transition: transform 250ms linear;
}
.tile[data-state="active"]{
    border-color:#fff;
}
.tile[data-state="wrong"]{
  border: none;
  background-color: var(--grey);
}
.tile[data-state="wrong-location"]{
  border: none;
  background-color: var(--yellow)
}
.tile[data-state="correct"]{
    border: none;
    background-color: var(--green);
}
.tile.flip{
  transform: rotateX(90deg);
}
.alert-container{
  position: fixed;
  top:10vh;
  left: 50vw;
  transform:translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items:center;

}
.alert{
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert2{
  pointer-events: none;
  background-color: hsl(14, 87%, 43%);
  padding: 0.75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert3{
  pointer-events: none;
  background-color: hsl(113, 87%, 43%);
  padding: 0.75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert:last-child,.alert2:last-child,.alert3:last-child{
  margin-bottom: 0;
}
.alert.hide,.alert2.hide,.alert3.hide{
  opacity: 0;
}

.tile.shake{
  animation: shake 250ms ease-in-out;
}
@keyframes shake {
  10%{
    transform: translateX(-50%);
  }
  30%{
    transform: translateX(5%);
  }
  50%{
    transform: translateX(-7.5%);
  }
  70%{
    transform: translateX(-7.5%);
  }
  90%{
    transform: translateX(5%);
  }
  100%{
    transform: translateX(0%);
  }
}
.tile.dance{
  animation: dance 250ms ease-in-out;
}
@keyframes dance{
  20%{
    transform: translateY(-50%);
  }
  40%{
    transform: translateY(5%);
  }
  60%{
    transform: translateY(-25%);
  }
  80%{
    transform: translateY(2.5%);
  }
  100%{
    transform: translateY(0%);
  }
}

@media screen and (max-width: 667px){

  .img #example{
    width: 60vw;
  }
  .button{
    bottom: 0;
    right: 0;
    }
    .button .aide button:before{
      content:"?";
    }
    .button .aide button{
      content:none;
    }
}

@media screen and (max-width: 410px){
  .title{
    margin-top: 3rem;
  }
  .title p span.rayan,.by{
    display: none;
  }
  img{
    width: 50px;
  }
  #example{
    width: 100%;
  }
  .modal{
    height: 90%;
  }
  #f5,.intro{
    font-size: 0.75rem;
  }
  #f5{
    color: green;
  }
  .replay{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: unset;
    display: none;
  }


}
@media screen and (max-width: 310px){
  .modal{
    max-width: 90%;
  }
  #explication p{
    font-size: 5vw;
  }
  #explication p span{
    font-size: 5vw;
  }
  

}
@media screen and (min-height: 600px)  and (max-width:500px){
  .keyboard{
    gap:0.4rem;
    margin-top: 3.5rem;
  }
  #explication div img{
    width:50px;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-17 10:59:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-17 11:2:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
